<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ассистент</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles/market.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles/add-skill.css') }}">
</head>

<body>
    <div class="main-container" id="main-container">
        <header class="title-header">
            <div class="title">
                <h1 class="title-text" id="title-text">Доступные навыки</h1>
                <p class="title-description" id="title-description">Выберите понравившийся вам навык и добавтье его в свою библиотеку</p>
            </div>
            <div class="create-skill">
                <button class="create-skill-btn" id="switch-to-add-skill-btn">создать</button>
            </div>
        </header>
        <div class="skills-container" id="app">
        </div>
        <footer class="more-skills">
            <div class="arrow" id='arrow-prev'>
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                    <path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
                    c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
                    L143.492,221.863z"/>
                </svg>
            </div>
            <div class="arrow right" id='arrow-next'>
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                    <path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
                    c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
                    L143.492,221.863z"/>
                </svg>
            </div>

        </footer>
    </div>



    <script src="{{ url_for('static', filename='js/route.js') }}"></script>
    <script src="{{ url_for('static', filename='js/router.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script src="{{ url_for('static', filename='js/navigation/hrefController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navigation/switchSettings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navigation/market-switch.js') }}"></script>

    <script src="{{ url_for('static', filename='js/navigation/arrows.js') }}"></script>

    <script src="{{ url_for('static', filename='js/add-skill/step-1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add-skill/step-2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add-skill/step-3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add-skill/upload-skill.js') }}"></script>


</body>

</html>