<div class="skill-content skill-green">
    <h1 class="skill-number">01</h1>
    <div class="skill-description">
        <p class="skill-date">Этап 1</p>
        <h2 class="skill-name">Общие сведения о навыке</h2>
        <p class="skill-description-text">Придумайте название вашему навыку, а также подробно опишите его функционал</p>
    </div>
</div>
<div class="input-container">
    <div class="user-form-container">
        <p class="input-description">Введите название навыка</p>
        <input type="text" class='input-form' id='skill-name-input'>
    </div>
    <div class="user-form-container-lst">
        <p class="input-description">Введите описание навыка</p>
        <textarea name="" class="input-form-text-area" id="skill-description-input"></textarea>
    </div>
</div>