<div class="skill-content skill-green">
    <h1 class="skill-number">03</h1>
    <div class="skill-description">
        <p class="skill-date">Этап 3</p>
        <h2 class="skill-name">Загрузите скрипт данного навыка</h2>
        <p class="skill-description-text">Напишите и загрузите скрипт, отвечающий требованиям вашего навыка</p>
    </div>
</div>
<div class="input-container">
    <div class="user-form-container-special">
        <p class="input-description">Константы необходимые для работы скрипта:</p>
        <div id="constants-container">
        </div>
    </div>
    <div class="user-form-container-lst">
        <p class="input-description">Название константы</p>
        <input type="text" class='input-form' id="const-name">
        <p class="input-description">Описание для пользователя</p>
        <input type="text" class='input-form' id="const-description">
        <div class="edit-phrase-btns">
            <button class="create-skill-btn btn-margin" id="add-constant">Добавить константу</button>
            <label class="create-skill-btn btn-margin" id="add-script-btn">
                <input id="file-picker" type="file" name="filesend" />
                Загрузить скрипт
            </label>

            <button class="create-skill-btn btn-margin none-visability" id="edit-constant-btn">Изменить константу</button>
            <button class="create-skill-btn none-visability" id="remove-constant-btn">Удалить константу</button>
        </div>
    </div>
</div>