<div class="skill-content skill-green">
    <h1 class="skill-number">02</h1>
    <div class="skill-description">
        <p class="skill-date">Этап 2</p>
        <h2 class="skill-name">Добавление необходимых фраз</h2>
        <p class="skill-description-text">Придумайте фразы, необходимые вашему навыку, а также их action, entity, context</p>
    </div>
</div>
<div class="input-container">
    <div class="user-form-container-special">
        <p class="input-description">Фразы входящие в данный навык</p>
        <div id="phrases-container">
        </div>
    </div>
    <div class="user-form-container-lst">
        <p class="input-description">Введите фразу</p>
        <input type="text" class='input-form' id='phrase-input'>
        <p class="input-description none-visability" id='prop-description'>Шаг 1. Выберите action фразы</p>
        <div class="words-of-phrase" id='words-of-phrase'>
        </div>
        <div class="edit-phrase-btns">
            <button class="create-skill-btn btn-margin" id="add-smth-btn">Добавить action</button>
            <button class="create-skill-btn none-visability" id="remove-skill-btn" onclick="removePhrase()">Удалить фразу</button>
        </div>

    </div>
</div>