<div class="skill-content skill-green">
    <h1 class="skill-number">01</h1>
    <div class="skill-description">
        <p class="skill-date">24 января 2021</p>
        <h2 class="skill-name">Помощник в акциях</h2>
        <p class="skill-description-text">С легкостью подскажет текущий курс валют а также стоимость ценных бумаг на рынке</p>
    </div>
</div>
<div class="skill-content skill-purple"></div>
<div class="skill-content skill-red"></div>
<div class="skill-content skill-gray"></div>
<!-- <div class="skill-content skill-blue"></div> -->
<!-- <div class="skill-content skill-gray"></div>
<div class="skill-content skill-green"></div>
<div class="skill-content skill-red"></div> -->